@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bad+Script&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url(./fontawesome-free-7.1.0-web/css/all.min.css);
:root{
    --color-verdeIntenso: #016B61;
    --color-celeste: #70B2B2;
    --color-celesteClaro: #9ECFD4;
    --color-amarillo: #f7eb43;
    --color-blanco: white;
    --color-negro: black;
}
*:{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-blanco);
    font-family: Urbanist, Arial, Helvetica, sans-serif;
}
h1 {
    color: var(--color-verdeIntenso);
    position:relative;
    text-shadow: 1px 1px var(--color-negro);
}

h1::after{
    content:"";
    width: 60px;
    height: 4px;
    background-color: var(--color-amarillo);
    position: absolute;
    bottom: 0;
    left: 0;
    
}

i {
    font-size: 3rem;
    color:var(--color-verdeIntenso);
}


.container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.padded{
    padding-top: 90px;
    padding-bottom: 20px;
}
.row{
    display: flex;
    margin-left: -12px;
    margin-right: -12px; 
    background-color: var(--color-celesteClaro);
    padding: 25px;
    border-radius: 20px;
    padding-right: 0px;
}

.col{
    flex-basis: 0;
    flex-grow:1;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
}
.col.img {
    display:flex;
    flex-direction: column;
    align-items: center;
    }
.form-group {
    margin-bottom: 6px;
}
.form-group p{
    font-size: 0.75rem;
}

.form-control {
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--color-celesteClaro);
    padding: 10px;
    font: inherit;
    outline: none;
}

.form-control:focus{
    border-bottom-color: var(--color-verdeIntenso);
}

.boton-formulario{
    border: none;
    padding: 8px 16px;
    background-color: var(--color-verdeIntenso);
    color: var(--color-blanco);
    font: inherit;
    
}

.boton-formulario:hover{
    background-color: var(--color-amarillo);
    color: var(--color-negro);
}

.borde-img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: var(--color-verdeIntenso);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: -80px;
    margin-right: -100px;
}
.borde-img img {
  width: 75%;
  height: auto;
  object-fit: cover;
  
  
}



.texto-curvo {
  position: absolute;
  display: inline-block;
  width: 70%;
  height: 70%;
  pointer-events: none; /* para que no bloquee clics */
  
}
.info {
    background-color: var(--color-amarillo);
    padding: 15px;
    border-radius: 20px;
}


